In [1]:
import pandas as pd
df = pd.read_csv('C://Users/Uldum/Downloads/WB_Спорт_Спортивная_обувь_Кроссовки_Товары_15042023_14052023_15052023.csv'
                , delimiter=';')

In [2]:
df.head(10)

,SKU,Name,Category,Brand,Seller,Color,Balance,Balance FBS,Comments,Final price,...,05.05.2023 Stocks,06.05.2023 Stocks,07.05.2023 Stocks,08.05.2023 Stocks,09.05.2023 Stocks,10.05.2023 Stocks,11.05.2023 Stocks,12.05.2023 Stocks,13.05.2023 Stocks,14.05.2023 Stocks
0,142938494,Кроссовки женские белые классические спортивны...,Спорт/Спортивная обувь/Кроссовки,ElbaWear,ИП Чирка Са,белый,1341,0,795,1260,...,1430,1654,1633,1625,1610,1577,1527,1469,1416,1341
1,144183240,Кроссовки женские натуральная кожа летние кеды...,Спорт/Спортивная обувь/Кроссовки,YOURBOX,ИП Варнавская,"серый, светло-серый, средне-серый",170,1,57,3850,...,180,177,174,169,167,168,167,168,168,170
2,150352113,Беговые кроссовки спортивные для бега велоспорт,Спорт/Спортивная обувь/Кроссовки,Fisher,ИП Дядичкин Вячеслав Николаевич,синий,5,2275,1,17971,...,1,1,2,4,4,3,4,5,5,5
3,83258675,Кроссовки женские летние текстильные кроссовки,Спорт/Спортивная обувь/Кроссовки,ElbaWear,ИП Чирка Са,белый,653,0,795,853,...,778,766,757,737,726,708,697,682,675,653
4,30199325,Кроссовки,Спорт/Спортивная обувь/Кроссовки,Tom-Miki,ВЗВ,темно-серый,0,0,8,909,...,0,0,0,0,0,0,0,0,0,0
5,144179617,Кроссовки женские натуральная кожа летние кеды...,Спорт/Спортивная обувь/Кроссовки,YOURBOX,ИП Варнавская,"бежевый, бежевый лайт, темно-бежевый",594,0,38,3520,...,588,585,589,584,579,580,582,583,590,594
6,83258679,Кроссовки женские летние текстильные кроссовки,Спорт/Спортивная обувь/Кроссовки,ElbaWear,ИП Чирка Са,черный,33,0,795,884,...,121,117,117,109,98,88,75,56,38,33
7,155170750,Слипоны мужские летние,Спорт/Спортивная обувь/Кроссовки,ElbaWear,ИП Чирка Са,черный,48,0,213,1372,...,67,65,64,61,53,53,50,52,49,48
8,150353500,Беговые кроссовки женские спортивные для фитне...,Спорт/Спортивная обувь/Кроссовки,Fisher,ИП Дядичкин Вячеслав Николаевич,синий,0,1330,0,14008,...,0,0,0,0,0,0,0,0,0,0
9,143748252,Кеды комфортные летние из натуральной кожи,Спорт/Спортивная обувь/Кроссовки,Badalli,Badalli Shoes,белый,138,1,222,2971,...,186,171,170,160,155,161,154,153,139,138

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28456 entries, 0 to 28455
Columns: 139 entries, SKU to 14.05.2023 Stocks
dtypes: float64(1), int64(118), object(20)
memory usage: 30.2+ MB

In [96]:
df.columns[:49]

Index(['SKU', 'Name', 'Category', 'Brand', 'Seller', 'Color', 'Balance',
       'Balance FBS', 'Comments', 'Final price', 'Max price', 'Min price',
       'Average price', 'Median price', 'Sales', 'Revenue',
       'Revenue potential', 'Revenue average', 'Lost profit',
       'Lost profit percent', 'URL', 'Thumb', 'Days in stock',
       'Days with sales', 'Average if in stock', 'Rating', 'Basic Sale',
       'Basic Sale Price', 'Promo Sale', 'Base price', 'SPP', 'SPP Price',
       'FBS', 'Subject ID', 'Category Position', 'Categories Last Count',
       'Sales Per Day Average', 'Country', 'Gender', 'First Date',
       'First Comment Date', 'Pics Count', 'Has 3D', 'Hax Video',
       'Comments Valuation', 'Card Rating', 'Subject', 'Purchase',
       'Purchase After Return'],
      dtype='object')

In [131]:
df['Sales'].value_counts()

0       2341
1       1681
2       1461
3       1272
4       1119
        ...
497        1
963        1
518        1
1192       1
1351       1
Name: Sales, Length: 759, dtype: int64

In [19]:
corr_list = []
for i in df.columns:
    val = df['SPP'].corr(df[i], method='spearman')
    corr_list.append(val)
    
corr_list

C:\Users\Uldum\AppData\Local\Programs\Python\Python311\Lib\site-packages\scipy\stats\_stats_py.py:4921: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))

[-0.09709015082459345,
 0.11759762748622424,
 nan,
 -0.024205255113903233,
 0.08741248380053669,
 -0.02456675053892986,
 0.3071359212298624,
 -0.5254831133307295,
 0.20639809502410522,
 -0.07735125811532008,
 -0.06599167621059965,
 -0.08260145016039198,
 0.05451954147742923,
 -0.07715758617732571,
 0.2973179465855324,
 0.2740186758754019,
 0.1030663750672985,
 0.09876872977396788,
 -0.0880957280266104,
 -0.08724926522610212,
 0.026839894215463924,
 -0.09680109441338139,
 0.18935462596422156,
 0.2950186676881608,
 0.28752015363543143,
 0.13623699609547407,
 0.10592374898838477,
 -0.07735125811532008,
 nan,
 0.007473857694367894,
 1.0,
 -0.09950155974546834,
 -0.21851641182024334,
 -0.016307374285580215,
 -0.056593930280306244,
 -0.036723343216511536,
 0.29779129941915516,
 0.05111046335838885,
 -0.072808136228593,
 0.007326063503218786,
 0.0712341782281312,
 0.16579463608636483,
 -0.008398516197409405,
 0.07438410880720986,
 0.11814833954662793,
 0.24465005470150716,
 -0.016304980564617315,
 -0.01990215485019562,
 -0.01822206338183299,
 0.19857383375087503,
 0.20969047511305383,
 0.20975230311335877,
 0.21788305392139973,
 0.20014220608608824,
 0.20572371796016584,
 0.19532845002367313,
 0.2016130850642643,
 0.21125155463055156,
 0.20515710985531135,
 0.20103684813454806,
 0.18863628440520702,
 0.1938516466087255,
 0.18493623387111352,
 0.17446304405973564,
 0.17407441915597738,
 0.1792308658003349,
 0.17241921510011782,
 0.17946753649279912,
 0.17637678184252592,
 0.1742037626773611,
 0.1724469413327402,
 0.1653287120194467,
 0.16340292699514483,
 0.16146049808861138,
 0.1676135214036789,
 0.15126151360174303,
 0.14850181298973306,
 0.15144942976079268,
 0.15849742041090595,
 0.19353049924787588,
 0.2050322424328852,
 0.20282355751459183,
 0.21159210935845815,
 0.19466474445755572,
 0.2015028747272405,
 0.18875789559337205,
 0.19610970995543908,
 0.20376928040213244,
 0.20023164591246914,
 0.1975073976595608,
 0.18356043916226106,
 0.18949295535708613,
 0.17994480079268368,
 0.168938345960016,
 0.16830746671409888,
 0.1740912380051494,
 0.16659751377129778,
 0.17437926976472207,
 0.17077683154391515,
 0.16801851861883949,
 0.1674391532237659,
 0.1596769563095412,
 0.1578135361550519,
 0.15777029823498706,
 0.16264676677521078,
 0.14810590655544878,
 0.14447793403711812,
 0.14710189138433694,
 0.1542816594144853,
 0.37149087790905194,
 0.3741020438956691,
 0.375274696489169,
 0.37167671800852065,
 0.37154433559144584,
 0.37017763289299926,
 0.368938786845288,
 0.36777600597176513,
 0.3655989470748777,
 0.3661475598456229,
 0.36775395839086616,
 0.3635337395480595,
 0.35394566811106987,
 0.35120261081041265,
 0.3522614047492202,
 0.349402169194123,
 0.3474560292039394,
 0.34629739155923295,
 0.3407839421393532,
 0.3378460057068189,
 0.3368954146048943,
 0.33388445708618725,
 0.3303134997910514,
 0.32670619138039586,
 0.32439411022688347,
 0.31893923310420913,
 0.31707360845879023,
 0.3131189059748757,
 0.30969107926683453,
 0.3071359212298624]

In [22]:
sorted(corr_list)

[-0.5254831133307295,
 -0.21851641182024334,
 -0.09950155974546834,
 -0.09709015082459345,
 -0.09680109441338139,
 -0.0880957280266104,
 -0.08724926522610212,
 -0.08260145016039198,
 -0.07735125811532008,
 0.007473857694367894,
 0.11759762748622424,
 nan,
 -0.07735125811532008,
 -0.07715758617732571,
 -0.072808136228593,
 -0.06599167621059965,
 -0.056593930280306244,
 -0.036723343216511536,
 -0.02456675053892986,
 -0.024205255113903233,
 -0.01990215485019562,
 -0.01822206338183299,
 -0.016307374285580215,
 -0.016304980564617315,
 -0.008398516197409405,
 0.007326063503218786,
 0.026839894215463924,
 0.05111046335838885,
 0.05451954147742923,
 0.0712341782281312,
 0.07438410880720986,
 0.08741248380053669,
 0.09876872977396788,
 0.1030663750672985,
 0.10592374898838477,
 0.11814833954662793,
 0.13623699609547407,
 0.14447793403711812,
 0.14710189138433694,
 0.14810590655544878,
 0.14850181298973306,
 0.15126151360174303,
 0.15144942976079268,
 0.1542816594144853,
 0.15777029823498706,
 0.1578135361550519,
 0.15849742041090595,
 0.1596769563095412,
 0.16146049808861138,
 0.16264676677521078,
 0.16340292699514483,
 0.1653287120194467,
 0.16579463608636483,
 0.16659751377129778,
 0.1674391532237659,
 0.1676135214036789,
 0.16801851861883949,
 0.16830746671409888,
 0.168938345960016,
 0.17077683154391515,
 0.17241921510011782,
 0.1724469413327402,
 0.17407441915597738,
 0.1740912380051494,
 0.1742037626773611,
 0.17437926976472207,
 0.17446304405973564,
 0.17637678184252592,
 0.1792308658003349,
 0.17946753649279912,
 0.17994480079268368,
 0.18356043916226106,
 0.18493623387111352,
 0.18863628440520702,
 0.18875789559337205,
 0.18935462596422156,
 0.18949295535708613,
 0.19353049924787588,
 0.1938516466087255,
 0.19466474445755572,
 0.19532845002367313,
 0.19610970995543908,
 0.1975073976595608,
 0.19857383375087503,
 0.20014220608608824,
 0.20023164591246914,
 0.20103684813454806,
 0.2015028747272405,
 0.2016130850642643,
 0.20282355751459183,
 0.20376928040213244,
 0.2050322424328852,
 0.20515710985531135,
 0.20572371796016584,
 0.20639809502410522,
 0.20969047511305383,
 0.20975230311335877,
 0.21125155463055156,
 0.21159210935845815,
 0.21788305392139973,
 0.24465005470150716,
 0.2740186758754019,
 0.28752015363543143,
 0.2950186676881608,
 0.2973179465855324,
 0.29779129941915516,
 0.3071359212298624,
 nan,
 0.3071359212298624,
 0.30969107926683453,
 0.3131189059748757,
 0.31707360845879023,
 0.31893923310420913,
 0.32439411022688347,
 0.32670619138039586,
 0.3303134997910514,
 0.33388445708618725,
 0.3368954146048943,
 0.3378460057068189,
 0.3407839421393532,
 0.34629739155923295,
 0.3474560292039394,
 0.349402169194123,
 0.35120261081041265,
 0.3522614047492202,
 0.35394566811106987,
 0.3635337395480595,
 0.3655989470748777,
 0.3661475598456229,
 0.36775395839086616,
 0.36777600597176513,
 0.368938786845288,
 0.37017763289299926,
 0.37149087790905194,
 0.37154433559144584,
 0.37167671800852065,
 0.3741020438956691,
 0.375274696489169,
 1.0]

In [28]:
corr_list_2 = []
for i in df.columns:
    try:
        val = df['SPP'].corr(df[i])
        corr_list_2.append(val)
    except:
        corr_list_2.append(0)
    
corr_list_2

[-0.07373085478404236,
 0,
 0,
 0,
 0,
 0,
 0.12537921953492298,
 -0.19511010501989046,
 0.0734521162535088,
 -0.10546712024695908,
 -0.08935424658547954,
 -0.11194720354842821,
 0,
 -0.10659807820251076,
 0.07124024114043169,
 0.09482804334691512,
 0,
 0,
 0,
 0,
 0,
 0,
 0.20181085291117523,
 0.24683439068692253,
 0,
 0.16254301686356804,
 0.0932794176740642,
 -0.10546712024695908,
 nan,
 -0.09652439967425133,
 0.9999999999999998,
 -0.13173559015000338,
 -0.226705154070707,
 -0.009837331756298837,
 -0.06596379306711916,
 -0.029005634346332788,
 0,
 0,
 0,
 0,
 0,
 0.1254567741314458,
 -0.006791991434197371,
 0.06455623444644895,
 0,
 0.20491773894643625,
 0,
 -0.00882737504567563,
 -0.008995869015683833,
 0.0603272887746938,
 0.07458170066037621,
 0.08202960613134412,
 0.06593820902488629,
 0.05899395339598532,
 0.05615198657076807,
 0.059158206581660114,
 0.0717294261485235,
 0.06849407789821352,
 0.06528662792168109,
 0.07270519382362697,
 0.07699146078189703,
 0.07842335850367307,
 0.0612617541550015,
 0.06878540050985563,
 0.06535732442930713,
 0.068233152631997,
 0.061814432464506866,
 0.06172973376474528,
 0.06292796501834366,
 0.05412838753692764,
 0.047585690197753897,
 0.050565477727990985,
 0.055224931569373685,
 0.052228824769306875,
 0.056408701187670864,
 0.047167142220982755,
 0.047946275914180915,
 0.04732236319877169,
 0.047050033373577445,
 0.07932873905302731,
 0.09071674178777157,
 0.09856131557598685,
 0.09339394546870641,
 0.08165918723668131,
 0.08391716432456267,
 0.08136850059778807,
 0.08943355903949438,
 0.090654039761531,
 0.0871086775656094,
 0.09021628447890513,
 0.08698219620774665,
 0.08596468158007431,
 0.07498903207823013,
 0.08089066916521603,
 0.07471616413509237,
 0.08210845046919939,
 0.07448503961386004,
 0.08079459641290641,
 0.08070281478390146,
 0.0767028247816647,
 0.07086467473320329,
 0.07267658580430737,
 0.07429043446233911,
 0.06923927357782758,
 0.07209618127368049,
 0.062460440790841794,
 0.0628884133442392,
 0.06238186905783597,
 0.06409799849254919,
 0.14432674965946038,
 0.14552872543387965,
 0.1435120122185367,
 0.13992621075263417,
 0.13984269982784248,
 0.1417190322179681,
 0.14204477153671474,
 0.14271880038254703,
 0.1443518575484049,
 0.1458346260806349,
 0.1445739787286997,
 0.1414460364254667,
 0.13976941991208247,
 0.1392953935102463,
 0.13700304322047252,
 0.13607208948364957,
 0.13617354295590206,
 0.13656404247817952,
 0.13519377134286614,
 0.13341284392062205,
 0.13259927039317487,
 0.1309015074455158,
 0.1308876272313727,
 0.1287917891815059,
 0.12899593939830245,
 0.12579408255531038,
 0.12659316920630784,
 0.12604892632679257,
 0.12593200564863366,
 0.12537921953492298]

In [29]:
sorted(corr_list_2)

[-0.226705154070707,
 -0.19511010501989046,
 -0.13173559015000338,
 -0.11194720354842821,
 -0.10659807820251076,
 -0.10546712024695908,
 -0.10546712024695908,
 -0.09652439967425133,
 -0.08935424658547954,
 -0.07373085478404236,
 -0.06596379306711916,
 -0.029005634346332788,
 -0.009837331756298837,
 -0.008995869015683833,
 -0.00882737504567563,
 -0.006791991434197371,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0.047050033373577445,
 0.047167142220982755,
 0.04732236319877169,
 0.047585690197753897,
 0.047946275914180915,
 0.050565477727990985,
 0.052228824769306875,
 0.05412838753692764,
 0.055224931569373685,
 0.05615198657076807,
 0.056408701187670864,
 0.05899395339598532,
 0.059158206581660114,
 0.0603272887746938,
 0.0612617541550015,
 0.06172973376474528,
 0.061814432464506866,
 0.06238186905783597,
 0.062460440790841794,
 0.0628884133442392,
 0.06292796501834366,
 0.06409799849254919,
 0.06455623444644895,
 0.06528662792168109,
 0.06535732442930713,
 0.06593820902488629,
 0.068233152631997,
 0.06849407789821352,
 0.06878540050985563,
 0.06923927357782758,
 0.07086467473320329,
 0.07124024114043169,
 0.0717294261485235,
 0.07209618127368049,
 0.07267658580430737,
 0.07270519382362697,
 0.0734521162535088,
 0.07429043446233911,
 0.07448503961386004,
 0.07458170066037621,
 0.07471616413509237,
 0.07498903207823013,
 0.0767028247816647,
 0.07699146078189703,
 0.07842335850367307,
 0.07932873905302731,
 0.08070281478390146,
 0.08079459641290641,
 0.08089066916521603,
 0.08136850059778807,
 0.08165918723668131,
 0.08202960613134412,
 0.08210845046919939,
 0.08391716432456267,
 0.08596468158007431,
 0.08698219620774665,
 0.0871086775656094,
 0.08943355903949438,
 0.09021628447890513,
 0.090654039761531,
 0.09071674178777157,
 0.0932794176740642,
 0.09339394546870641,
 0.09482804334691512,
 0.09856131557598685,
 0.12537921953492298,
 0.12537921953492298,
 0.1254567741314458,
 0.12579408255531038,
 0.12593200564863366,
 0.12604892632679257,
 0.12659316920630784,
 0.1287917891815059,
 0.12899593939830245,
 0.1308876272313727,
 0.1309015074455158,
 0.13259927039317487,
 0.13341284392062205,
 0.13519377134286614,
 0.13607208948364957,
 0.13617354295590206,
 0.13656404247817952,
 0.13700304322047252,
 0.1392953935102463,
 0.13976941991208247,
 0.13984269982784248,
 0.13992621075263417,
 0.1414460364254667,
 0.1417190322179681,
 0.14204477153671474,
 0.14271880038254703,
 0.1435120122185367,
 0.14432674965946038,
 0.1443518575484049,
 0.1445739787286997,
 0.14552872543387965,
 0.1458346260806349,
 0.16254301686356804,
 0.20181085291117523,
 0.20491773894643625,
 0.24683439068692253,
 nan,
 0.9999999999999998]

In [30]:
corr_list_3 = []
for i in df.columns:
    try:
        val = df['SPP'].corr(df[i], method='kendall')
        corr_list_3.append(val)
    except:
        corr_list_3.append(0)
    
corr_list_3

[-0.07605746622726682,
 0.09371775751544512,
 nan,
 -0.019096981842444738,
 0.07063084488472123,
 -0.01977175541130615,
 0.25058781269946473,
 -0.47547539157467683,
 0.164403004086824,
 -0.06104468372783302,
 -0.052117882412290144,
 -0.06513192456639665,
 0.042883756118556805,
 -0.06078278332437928,
 0.23815851797786877,
 0.21741812266292038,
 0.0814376955444963,
 0.07809191328351149,
 -0.0802005639929727,
 -0.07997373650418121,
 0.021168485892375844,
 -0.07582290601708541,
 0.17189960282996442,
 0.23808254993002304,
 0.23010209151876623,
 0.12479507895833888,
 0.08457863856586263,
 -0.06104468372783302,
 nan,
 0.006075769721727661,
 1.0,
 -0.07852107818771796,
 -0.21073590881480087,
 -0.015723188586779478,
 -0.050679541048074817,
 -0.035415770572947314,
 0.2385750143338476,
 0.04602209988278244,
 -0.06587526010824751,
 0.005616585063889632,
 0.056258798242224885,
 0.13610921975562923,
 -0.008099478335809538,
 0.0717355856262245,
 0.0956660232935877,
 0.19664462984289807,
 -0.015721083241990483,
 -0.019191962750258116,
 -0.017572335696237968,
 0.1791237943042066,
 0.18824027844716723,
 0.18810894792008587,
 0.1949392366423686,
 0.17978050069070473,
 0.18427125713068343,
 0.1747619514919392,
 0.18041684095694044,
 0.18772929098079538,
 0.18268258819639055,
 0.179745156801642,
 0.16905252662517314,
 0.1739148005467073,
 0.16596220888282784,
 0.15634415811056454,
 0.15603357859144956,
 0.16072430450839922,
 0.15506966331644048,
 0.16126837776289743,
 0.15868463746475261,
 0.15668687085489952,
 0.15574512511859942,
 0.1491050228549923,
 0.14733701938256905,
 0.14601558326518657,
 0.15098722464238257,
 0.13596724284130243,
 0.13363458244867027,
 0.1365275490860489,
 0.14237453878598724,
 0.17056753811022637,
 0.18001077232396254,
 0.17773116678402734,
 0.18502785636057267,
 0.1709407157948366,
 0.1763555385551615,
 0.16479501655780812,
 0.171369636715331,
 0.17666107790269817,
 0.17415051543698803,
 0.17259144501571835,
 0.16071822340663736,
 0.16611554585992855,
 0.15759744622101385,
 0.14781882669365373,
 0.14716543491160677,
 0.1523642966475278,
 0.14624524903757039,
 0.15310397602862588,
 0.15003893940079593,
 0.14757449869586794,
 0.14760580998906345,
 0.14073388499917686,
 0.1389714077037976,
 0.1393512130883932,
 0.14306935432902806,
 0.1300832062437665,
 0.12711105300136008,
 0.1295980885911931,
 0.1355977849658224,
 0.3032151390720866,
 0.3054883715813744,
 0.30625632907206485,
 0.30307119407467475,
 0.30255544736349177,
 0.3014876363628525,
 0.30046204639586055,
 0.2994516930748319,
 0.2980426071104393,
 0.2982152127662648,
 0.29888148309689244,
 0.29532073205732395,
 0.287749906820371,
 0.28562144529003153,
 0.2864894045048441,
 0.2843971322978117,
 0.28273607936712714,
 0.2816334105696438,
 0.27717349687302195,
 0.2747060161774427,
 0.2739167937223691,
 0.2715209335103462,
 0.2685429994826018,
 0.265576533771448,
 0.26363673791662817,
 0.2592568442227484,
 0.25789649724841857,
 0.2549772707833342,
 0.2523181447892734,
 0.25058781269946473]

In [42]:
sorted(corr_list_3)

[-0.47547539157467683,
 -0.21073590881480087,
 -0.0802005639929727,
 -0.07997373650418121,
 -0.07852107818771796,
 -0.07605746622726682,
 -0.07582290601708541,
 -0.06587526010824751,
 -0.06513192456639665,
 -0.06104468372783302,
 -0.035415770572947314,
 -0.019191962750258116,
 -0.017572335696237968,
 -0.015721083241990483,
 -0.008099478335809538,
 0.005616585063889632,
 0.006075769721727661,
 0.04602209988278244,
 0.056258798242224885,
 0.0717355856262245,
 0.09371775751544512,
 nan,
 -0.06104468372783302,
 -0.06078278332437928,
 -0.052117882412290144,
 -0.050679541048074817,
 -0.01977175541130615,
 -0.019096981842444738,
 -0.015723188586779478,
 0.021168485892375844,
 0.042883756118556805,
 0.07063084488472123,
 0.07809191328351149,
 0.0814376955444963,
 0.08457863856586263,
 0.0956660232935877,
 0.12479507895833888,
 0.12711105300136008,
 0.1295980885911931,
 0.1300832062437665,
 0.13363458244867027,
 0.1355977849658224,
 0.13596724284130243,
 0.13610921975562923,
 0.1365275490860489,
 0.1389714077037976,
 0.1393512130883932,
 0.14073388499917686,
 0.14237453878598724,
 0.14306935432902806,
 0.14601558326518657,
 0.14624524903757039,
 0.14716543491160677,
 0.14733701938256905,
 0.14757449869586794,
 0.14760580998906345,
 0.14781882669365373,
 0.1491050228549923,
 0.15003893940079593,
 0.15098722464238257,
 0.1523642966475278,
 0.15310397602862588,
 0.15506966331644048,
 0.15574512511859942,
 0.15603357859144956,
 0.15634415811056454,
 0.15668687085489952,
 0.15759744622101385,
 0.15868463746475261,
 0.16071822340663736,
 0.16072430450839922,
 0.16126837776289743,
 0.164403004086824,
 0.16479501655780812,
 0.16596220888282784,
 0.16611554585992855,
 0.16905252662517314,
 0.17056753811022637,
 0.1709407157948366,
 0.171369636715331,
 0.17189960282996442,
 0.17259144501571835,
 0.1739148005467073,
 0.17415051543698803,
 0.1747619514919392,
 0.1763555385551615,
 0.17666107790269817,
 0.17773116678402734,
 0.1791237943042066,
 0.179745156801642,
 0.17978050069070473,
 0.18001077232396254,
 0.18041684095694044,
 0.18268258819639055,
 0.18427125713068343,
 0.18502785636057267,
 0.18772929098079538,
 0.18810894792008587,
 0.18824027844716723,
 0.1949392366423686,
 0.19664462984289807,
 0.21741812266292038,
 0.23010209151876623,
 0.23808254993002304,
 0.23815851797786877,
 0.2385750143338476,
 0.25058781269946473,
 nan,
 0.25058781269946473,
 0.2523181447892734,
 0.2549772707833342,
 0.25789649724841857,
 0.2592568442227484,
 0.26363673791662817,
 0.265576533771448,
 0.2685429994826018,
 0.2715209335103462,
 0.2739167937223691,
 0.2747060161774427,
 0.27717349687302195,
 0.2816334105696438,
 0.28273607936712714,
 0.2843971322978117,
 0.28562144529003153,
 0.2864894045048441,
 0.287749906820371,
 0.29532073205732395,
 0.2980426071104393,
 0.2982152127662648,
 0.29888148309689244,
 0.2994516930748319,
 0.30046204639586055,
 0.3014876363628525,
 0.30255544736349177,
 0.30307119407467475,
 0.3032151390720866,
 0.3054883715813744,
 0.30625632907206485,
 1.0]

In [56]:
df_1 = df[['SPP', 'Seller']]
df_1[(df_1['Seller'] == 'ООО Оптима Обувь')]

       SPP            Seller
8959    16  ООО Оптима Обувь
9012    16  ООО Оптима Обувь
9273    16  ООО Оптима Обувь
9554    16  ООО Оптима Обувь
9705    16  ООО Оптима Обувь
...    ...               ...
28178   16  ООО Оптима Обувь
28449   18  ООО Оптима Обувь
28450   18  ООО Оптима Обувь
28452   18  ООО Оптима Обувь
28455   18  ООО Оптима Обувь

[147 rows x 2 columns]

In [8]:
cols = list(df.columns[109:130])
df['sum_stocks'] = df[cols].sum(axis= 1)
df['sum_stocks']

0        27334
1         4615
2           21
3        17783
4           12
         ...
28451       25
28452      296
28453       10
28454       12
28455       10
Name: sum_stocks, Length: 28456, dtype: int64

In [64]:
df[['SPP', 'sum_stocks']]

       SPP  sum_stocks
0        0       27334
1        0        4615
2        0          21
3        0       17783
4        0          12
...    ...         ...
28451   18          25
28452   18         296
28453   18          10
28454   18          12
28455   18          10

[28456 rows x 2 columns]

In [9]:
cols_rev = list(df.columns[79:109])
df['sum_rev'] = df[cols_rev].sum(axis= 1)
df['sum_rev']

0        2956410
1         763950
2          17971
3         294541
4            909
          ...
28451      70522
28452     145240
28453       9600
28454       9600
28455      48051
Name: sum_rev, Length: 28456, dtype: int64

In [70]:
df[['SPP', 'sum_rev']]

       SPP  sum_rev
0        0  2956410
1        0   763950
2        0    17971
3        0   294541
4        0      909
...    ...      ...
28451   18    70522
28452   18   145240
28453   18     9600
28454   18     9600
28455   18    48051

[28456 rows x 2 columns]

In [10]:
cols_sal = list(df.columns[49:79])
df['sum_sal'] = df[cols_sal].sum(axis= 1)
df[['SPP', 'sum_sal']]

       SPP  sum_sal
0        0     2141
1        0      167
2        0        1
3        0      293
4        0        1
...    ...      ...
28451   18        8
28452   18      107
28453   18        5
28454   18        3
28455   18       33

[28456 rows x 2 columns]

In [75]:
meth_list = ['pearson', 'kendall', 'spearman']
for i in meth_list:
    print(df['SPP'].corr(df['sum_sal'], method=i))

0.07124024114043169
0.23815851797786877
0.2973179465855324

In [76]:
for i in meth_list:
    print(df['SPP'].corr(df['sum_rev'], method=i))

0.09482804334691512
0.21741812266292038
0.2740186758754019

In [77]:
for i in meth_list:
    print(df['SPP'].corr(df['sum_stocks'], method=i))

0.14452094287626047
0.31107771625757213
0.38605628936160663

In [11]:
df_zer = df[(df['SPP']) > 0]

In [89]:
for i in meth_list:
    print(df_zer['SPP'].corr(df_zer['sum_stocks'], method=i))

0.16514248406662665
0.31227216464740204
0.38759543467690255

In [90]:
for i in meth_list:
    print(df_zer['SPP'].corr(df_zer['sum_sal'], method=i))

0.08699658490163933
0.23914504611822462
0.2985935060924695

In [98]:
col_list_49 = list(df_zer.columns[:49])
cor_list_pir_49 = []
for i in col_list_49:
    try:
        cor_list_pir_49.append(df_zer['SPP'].corr(df_zer[i]))        
    except:
        pass
    
sorted(cor_list_pir_49)

[-0.23688953748762973,
 -0.21158183505006822,
 -0.1172885069988192,
 -0.10133281983748606,
 -0.09523831597469533,
 -0.09523831597469533,
 -0.09471936580712817,
 -0.07844450689176957,
 -0.07756876649206575,
 -0.0762960728396612,
 -0.0710513867721973,
 -0.02830628606539106,
 -0.018140368554230703,
 -0.01738730987037201,
 -0.007486205480431694,
 -0.003633542633959494,
 0.07239453785498864,
 0.07960532709573091,
 0.08699658490163933,
 0.11087215397012423,
 0.11163630863689959,
 0.14039258031545876,
 0.14317906852538156,
 0.17505211443371155,
 0.21423695039299642,
 0.22471778272477844,
 0.2713425303039442,
 nan,
 0.9999999999999998]

In [102]:
cor_list_ken_49 = []
for i in col_list_49:
    try:
        cor_list_ken_49.append(df_zer['SPP'].corr((df_zer[i]), method='kendall'))        
    except:
        cor_list_ken_49.append(0)
    
sorted(cor_list_ken_49)

[-0.47598640858769004,
 -0.21010700164682658,
 -0.0807282735420328,
 -0.08047259013378405,
 -0.07806552465602516,
 -0.0759237311294347,
 -0.0756857800773296,
 -0.06491713147425823,
 -0.06489605145680331,
 -0.06083618217283244,
 -0.0208182557434534,
 -0.019196771167392636,
 -0.014335719322570002,
 -0.008144257211211745,
 0.007125334387879022,
 0.09338941029947855,
 nan,
 -0.06083618217283244,
 -0.060221651500344545,
 -0.05144879691176115,
 -0.05055103452267309,
 -0.035046917508335496,
 -0.02003464749985518,
 -0.019298004563099835,
 -0.014337739883365003,
 0.0064611266022332565,
 0.02174228518755772,
 0.042584762030998265,
 0.046966253443502144,
 0.056315880647738896,
 0.06966815876309534,
 0.07238294321028904,
 0.07823800413784274,
 0.0812935712322961,
 0.08650891642043401,
 0.09683321769893245,
 0.12588570573230512,
 0.13702068369281925,
 0.16504402130293105,
 0.17208236356737866,
 0.19781368538331434,
 0.21848227426396497,
 0.23104240138341983,
 0.23903126296069244,
 0.23914504611822462,
 0.2516419773240897,
 nan,
 0.2395632738047935,
 1.0]

In [114]:
cor_list_sp_49 = []
for i in col_list_49:
    try:
        cor_list_sp_49.append(df_zer['SPP'].corr(df_zer[i], method='spearman'))      
    except:
        cor_list_sp_49.append(0)
    
cor_list_sp_49

[-0.09688574924645449,
 0.11718075796760064,
 nan,
 -0.02540661922578107,
 0.08619188032162702,
 -0.023975902326522282,
 0.3084736702953007,
 -0.5259190309560219,
 0.20718948216173025,
 -0.07706632689517952,
 -0.06512104664101102,
 -0.08228126828332993,
 0.05412425209058767,
 -0.07642715942111578,
 0.2985935060924695,
 0.275386223441608,
 0.1028493437817114,
 0.09893150280892826,
 -0.08863991180424674,
 -0.08776158503096815,
 0.027559191772158802,
 -0.09659233535078598,
 0.18949837482548532,
 0.29622803786226615,
 0.2887496810277841,
 0.13741013776586328,
 0.10835515290007669,
 -0.07706632689517952,
 nan,
 0.008803205343404105,
 1.0,
 -0.09889818057953889,
 -0.21779107204909945,
 -0.014865777657541731,
 -0.05644137412019149,
 -0.03632865957026533,
 0.2990676238882713,
 0.05216666421741564,
 -0.0717189297924652,
 0.008403985795775575,
 0.07128297990461459,
 0.16688228129554292,
 -0.008442110425500924,
 0.07503014500362339,
 0.11961023147786161,
 0.24604707302032627,
 -0.01486359673958797,
 -0.021581397719828952,
 -0.01989985371013175]

In [106]:
col_list_last = list(df_zer.columns[139:])
cor_last_pir = []
for i in col_list_last:
    try:
        cor_last_pir.append(df_zer['SPP'].corr(df_zer[i]))        
    except:
        pass
    
sorted(cor_last_pir)

[0.08699658490163933, 0.11087215397012423, 0.16514248406662665]

In [108]:
cor_last_ken = []
for i in col_list_last:
    try:
        cor_last_ken.append(df_zer['SPP'].corr(df_zer[i], method='kendall'))        
    except:
        pass
    
sorted(cor_last_ken)

[0.21848227426396497, 0.23914504611822462, 0.31227216464740204]

In [109]:
cor_last_sp = []
for i in col_list_last:
    try:
        cor_last_sp.append(df_zer['SPP'].corr(df_zer[i], method='spearman'))        
    except:
        pass
    
sorted(cor_last_sp)

[0.275386223441608, 0.2985935060924695, 0.38759543467690255]

In [110]:
df_zer.columns[139:]

Index(['sum_stocks', 'sum_rev', 'sum_sal'], dtype='object')

In [113]:
df_zer['SPP'].corr(df_zer['sum_rev'], method='spearman')

0.275386223441608

In [116]:
cor_last = []
for i in col_list_49:
    try:
        val = df_zer['SPP'].corr(df_zer[i], method='spearman')
        if abs(val) > 0.29:
            cor_last.append(i)
            print(val, i)
    except:
        pass

0.3084736702953007 Balance
-0.5259190309560219 Balance FBS
0.2985935060924695 Sales
0.29622803786226615 Days with sales
1.0 SPP
0.2990676238882713 Sales Per Day Average

In [119]:
for i in col_list_49:
    try:
        val = df_zer['SPP'].corr(df_zer[i], method='kendall')
        if abs(val) > 0.29:
            cor_last.append(i)
            print(val, i)
    except:
        pass

-0.47598640858769004 Balance FBS
1.0 SPP

In [120]:
cor_last

['Balance',
 'Balance FBS',
 'Sales',
 'Days with sales',
 'SPP',
 'Sales Per Day Average',
 'SPP',
 'Balance FBS',
 'SPP']

In [121]:
for i in col_list_last:
    try:
        val = df_zer['SPP'].corr(df_zer[i], method='kendall')
        if abs(val) > 0.29:
            cor_last.append(i)
            print(val, i)
    except:
        pass

0.31227216464740204 sum_stocks

In [122]:
for i in col_list_last:
    try:
        val = df_zer['SPP'].corr(df_zer[i], method='spearman')
        if abs(val) > 0.29:
            cor_last.append(i)
            print(val, i)
    except:
        pass

0.38759543467690255 sum_stocks
0.2985935060924695 sum_sal

In [123]:
for i in col_list_last:
    try:
        val = df_zer['SPP'].corr(df_zer[i])
        if abs(val) > 0.29:
            cor_last.append(i)
            print(val, i)
    except:
        pass

In [124]:
cor_last

['Balance',
 'Balance FBS',
 'Sales',
 'Days with sales',
 'SPP',
 'Sales Per Day Average',
 'SPP',
 'Balance FBS',
 'SPP',
 'sum_stocks',
 'sum_stocks',
 'sum_sal']

In [125]:
cor_set = set(cor_last)
cor_set

{'Balance',
 'Balance FBS',
 'Days with sales',
 'SPP',
 'Sales',
 'Sales Per Day Average',
 'sum_sal',
 'sum_stocks'}

In [126]:
cor_list_last = list(cor_set)
cor_list_last

['Balance',
 'sum_stocks',
 'Balance FBS',
 'Sales Per Day Average',
 'SPP',
 'sum_sal',
 'Days with sales',
 'Sales']

In [127]:
df_load = df_zer[cor_list_last]
df_load.head(10)

,Balance,sum_stocks,Balance FBS,Sales Per Day Average,SPP,sum_sal,Days with sales,Sales
28,5,123,0,"0,5667",10,17,11,17
29,3,56,0,"0,3667",10,11,9,11
30,4,186,1,"0,2333",10,7,6,7
31,2,23,0,"0,0667",10,2,2,2
32,1,70,14,"0,3",13,9,9,9
33,5,63,15,"0,3333",13,10,8,10
34,8,88,2,"0,1667",13,5,5,5
35,0,0,16,0,13,0,0,0
36,0,48,10,"0,2",13,6,3,6
37,74,1593,18,"0,1",13,3,3,3

In [128]:
df_load.to_csv(path_or_buf='C://Users/Uldum/Downloads/out.csv')

In [129]:
df_load.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28428 entries, 28 to 28455
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Balance                28428 non-null  int64
 1   sum_stocks             28428 non-null  int64
 2   Balance FBS            28428 non-null  int64
 3   Sales Per Day Average  28428 non-null  object
 4   SPP                    28428 non-null  int64
 5   sum_sal                28428 non-null  int64
 6   Days with sales        28428 non-null  int64
 7   Sales                  28428 non-null  int64
dtypes: int64(7), object(1)
memory usage: 2.0+ MB

In [133]:
df_load['Sales Per Day Average'] = df_load['Sales Per Day Average'].apply(lambda x: float(x.replace(',', '.')))
df_load.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28428 entries, 28 to 28455
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Balance                28428 non-null  int64
 1   sum_stocks             28428 non-null  int64
 2   Balance FBS            28428 non-null  int64
 3   Sales Per Day Average  28428 non-null  float64
 4   SPP                    28428 non-null  int64
 5   sum_sal                28428 non-null  int64
 6   Days with sales        28428 non-null  int64
 7   Sales                  28428 non-null  int64
dtypes: float64(1), int64(7)
memory usage: 2.0 MB

C:\Users\Uldum\AppData\Local\Temp\ipykernel_2928\392257431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_load['Sales Per Day Average'] = df_load['Sales Per Day Average'].apply(lambda x: float(x.replace(',', '.')))

In [134]:
df_load.head(10)

,Balance,sum_stocks,Balance FBS,Sales Per Day Average,SPP,sum_sal,Days with sales,Sales
28,5,123,0,0.5667,10,17,11,17
29,3,56,0,0.3667,10,11,9,11
30,4,186,1,0.2333,10,7,6,7
31,2,23,0,0.0667,10,2,2,2
32,1,70,14,0.3000,13,9,9,9
33,5,63,15,0.3333,13,10,8,10
34,8,88,2,0.1667,13,5,5,5
35,0,0,16,0.0000,13,0,0,0
36,0,48,10,0.2000,13,6,3,6
37,74,1593,18,0.1000,13,3,3,3

In [135]:
df_load.to_csv(path_or_buf='C://Users/Uldum/Downloads/out.csv')

In [5]:
list_cols = []
for i in df.columns[:49]:
    list_cols.append(i)
list_cols

['SKU',
 'Name',
 'Category',
 'Brand',
 'Seller',
 'Color',
 'Balance',
 'Balance FBS',
 'Comments',
 'Final price',
 'Max price',
 'Min price',
 'Average price',
 'Median price',
 'Sales',
 'Revenue',
 'Revenue potential',
 'Revenue average',
 'Lost profit',
 'Lost profit percent',
 'URL',
 'Thumb',
 'Days in stock',
 'Days with sales',
 'Average if in stock',
 'Rating',
 'Basic Sale',
 'Basic Sale Price',
 'Promo Sale',
 'Base price',
 'SPP',
 'SPP Price',
 'FBS',
 'Subject ID',
 'Category Position',
 'Categories Last Count',
 'Sales Per Day Average',
 'Country',
 'Gender',
 'First Date',
 'First Comment Date',
 'Pics Count',
 'Has 3D',
 'Hax Video',
 'Comments Valuation',
 'Card Rating',
 'Subject',
 'Purchase',
 'Purchase After Return']

In [13]:
for i in df_zer.columns[139:]:
    list_cols.append(i)
list_cols

['SKU',
 'Name',
 'Category',
 'Brand',
 'Seller',
 'Color',
 'Balance',
 'Balance FBS',
 'Comments',
 'Final price',
 'Max price',
 'Min price',
 'Average price',
 'Median price',
 'Sales',
 'Revenue',
 'Revenue potential',
 'Revenue average',
 'Lost profit',
 'Lost profit percent',
 'URL',
 'Thumb',
 'Days in stock',
 'Days with sales',
 'Average if in stock',
 'Rating',
 'Basic Sale',
 'Basic Sale Price',
 'Promo Sale',
 'Base price',
 'SPP',
 'SPP Price',
 'FBS',
 'Subject ID',
 'Category Position',
 'Categories Last Count',
 'Sales Per Day Average',
 'Country',
 'Gender',
 'First Date',
 'First Comment Date',
 'Pics Count',
 'Has 3D',
 'Hax Video',
 'Comments Valuation',
 'Card Rating',
 'Subject',
 'Purchase',
 'Purchase After Return',
 'sum_stocks',
 'sum_rev',
 'sum_sal']

In [15]:
df_load = df_zer[list_cols]
df_load.head(10)

,SKU,Name,Category,Brand,Seller,Color,Balance,Balance FBS,Comments,Final price,...,Has 3D,Hax Video,Comments Valuation,Card Rating,Subject,Purchase,Purchase After Return,sum_stocks,sum_rev,sum_sal
28,146606686,Кроссовки,Спорт/Спортивная обувь/Кроссовки,United Colors of Benetton,ООО Казань Реал Эстейт,NaN,5,0,3,5599,...,0,0,"3,7",47,Обувь / Кроссовки,53,49,123,66623,17
29,146606687,Кроссовки,Спорт/Спортивная обувь/Кроссовки,United Colors of Benetton,ООО Казань Реал Эстейт,NaN,3,0,3,5599,...,0,0,"3,7",47,Обувь / Кроссовки,53,49,56,43109,11
30,146606691,Кеды на высокой подошве,Спорт/Спортивная обувь/Кроссовки,United Colors of Benetton,ООО Казань Реал Эстейт,белый,4,1,2,8999,...,0,0,"4,5",64,Обувь / Кроссовки,53,49,186,62993,7
31,110413768,Кроссовки,Спорт/Спортивная обувь/Кроссовки,United Colors of Benetton,ООО Казань Реал Эстейт,белый,2,0,7,3599,...,0,0,"3,3",37,Обувь / Кроссовки,53,49,23,7198,2
32,105029324,Кроссовки бейп,Спорт/Спортивная обувь/Кроссовки,Bape,Oootheworld,NaN,1,14,285,4599,...,0,0,"4,5",76,Обувь / Кроссовки,53,49,70,41391,9
33,147576404,Кроссовки Jordan 4,Спорт/Спортивная обувь/Кроссовки,Jordan,ИП Игонина Е А,фиолетовый,5,15,44,10614,...,0,1,"4,59",73,Обувь / Кроссовки,53,49,63,103704,10
34,151573604,Кроссовки женские,Спорт/Спортивная обувь/Кроссовки,TIRASHOP,Нозилов Д.н.,черный,8,2,17,2002,...,0,0,"4,7",56,Обувь / Кроссовки,53,49,88,10900,5
35,155898524,Кроссовки из текстиля легкие,Спорт/Спортивная обувь/Кроссовки,Prominente,ИП Шмакова Виктория Алексеевна,черный,0,16,0,2626,...,0,0,0,33,Обувь / Кроссовки,53,49,0,0,0
36,147401294,Кроссовки детские Nike демисезонные для девочк...,Спорт/Спортивная обувь/Кроссовки,LAP TI,ИП Ракова Ви,белый,0,10,0,7920,...,0,0,0,43,Обувь / Кроссовки,53,49,48,48620,6
37,131653694,Кроссовки мужские летние спортивная обувь на в...,Спорт/Спортивная обувь/Кроссовки,BAASPLOA,ИП Су Д,серый,74,18,11,2748,...,0,1,"3,7",64,Обувь / Кроссовки,53,49,1593,10022,3

In [16]:
df_load.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28428 entries, 28 to 28455
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKU                    28428 non-null  int64
 1   Name                   28428 non-null  object
 2   Category               28428 non-null  object
 3   Brand                  28280 non-null  object
 4   Seller                 28382 non-null  object
 5   Color                  27327 non-null  object
 6   Balance                28428 non-null  int64
 7   Balance FBS            28428 non-null  int64
 8   Comments               28428 non-null  int64
 9   Final price            28428 non-null  int64
 10  Max price              28428 non-null  int64
 11  Min price              28428 non-null  int64
 12  Average price          28428 non-null  object
 13  Median price           28428 non-null  float64
 14  Sales                  28428 non-null  int64
 15  Revenue                28428 non-null  int64
 16  Revenue potential      28428 non-null  object
 17  Revenue average        28428 non-null  object
 18  Lost profit            28428 non-null  object
 19  Lost profit percent    28428 non-null  object
 20  URL                    28428 non-null  object
 21  Thumb                  28428 non-null  object
 22  Days in stock          28428 non-null  int64
 23  Days with sales        28428 non-null  int64
 24  Average if in stock    28428 non-null  object
 25  Rating                 28428 non-null  int64
 26  Basic Sale             28428 non-null  int64
 27  Basic Sale Price       28428 non-null  int64
 28  Promo Sale             28428 non-null  int64
 29  Base price             28428 non-null  int64
 30  SPP                    28428 non-null  int64
 31  SPP Price              28428 non-null  int64
 32  FBS                    28428 non-null  int64
 33  Subject ID             28428 non-null  int64
 34  Category Position      28428 non-null  int64
 35  Categories Last Count  28428 non-null  int64
 36  Sales Per Day Average  28428 non-null  object
 37  Country                23611 non-null  object
 38  Gender                 27359 non-null  object
 39  First Date             28428 non-null  object
 40  First Comment Date     28428 non-null  object
 41  Pics Count             28428 non-null  int64
 42  Has 3D                 28428 non-null  int64
 43  Hax Video              28428 non-null  int64
 44  Comments Valuation     28428 non-null  object
 45  Card Rating            28428 non-null  int64
 46  Subject                28428 non-null  object
 47  Purchase               28428 non-null  int64
 48  Purchase After Return  28428 non-null  int64
 49  sum_stocks             28428 non-null  int64
 50  sum_rev                28428 non-null  int64
 51  sum_sal                28428 non-null  int64
dtypes: float64(1), int64(31), object(20)
memory usage: 11.5+ MB

In [19]:
for i in list_cols:
    try:
        df[i] = df_load[i].apply(lambda x: x.replace(',', '.'))
    except:
        pass
df_load.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28428 entries, 28 to 28455
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKU                    28428 non-null  int64
 1   Name                   28428 non-null  object
 2   Category               28428 non-null  object
 3   Brand                  28280 non-null  object
 4   Seller                 28382 non-null  object
 5   Color                  27327 non-null  object
 6   Balance                28428 non-null  int64
 7   Balance FBS            28428 non-null  int64
 8   Comments               28428 non-null  int64
 9   Final price            28428 non-null  int64
 10  Max price              28428 non-null  int64
 11  Min price              28428 non-null  int64
 12  Average price          28428 non-null  object
 13  Median price           28428 non-null  float64
 14  Sales                  28428 non-null  int64
 15  Revenue                28428 non-null  int64
 16  Revenue potential      28428 non-null  object
 17  Revenue average        28428 non-null  object
 18  Lost profit            28428 non-null  object
 19  Lost profit percent    28428 non-null  object
 20  URL                    28428 non-null  object
 21  Thumb                  28428 non-null  object
 22  Days in stock          28428 non-null  int64
 23  Days with sales        28428 non-null  int64
 24  Average if in stock    28428 non-null  object
 25  Rating                 28428 non-null  int64
 26  Basic Sale             28428 non-null  int64
 27  Basic Sale Price       28428 non-null  int64
 28  Promo Sale             28428 non-null  int64
 29  Base price             28428 non-null  int64
 30  SPP                    28428 non-null  int64
 31  SPP Price              28428 non-null  int64
 32  FBS                    28428 non-null  int64
 33  Subject ID             28428 non-null  int64
 34  Category Position      28428 non-null  int64
 35  Categories Last Count  28428 non-null  int64
 36  Sales Per Day Average  28428 non-null  object
 37  Country                23611 non-null  object
 38  Gender                 27359 non-null  object
 39  First Date             28428 non-null  object
 40  First Comment Date     28428 non-null  object
 41  Pics Count             28428 non-null  int64
 42  Has 3D                 28428 non-null  int64
 43  Hax Video              28428 non-null  int64
 44  Comments Valuation     28428 non-null  object
 45  Card Rating            28428 non-null  int64
 46  Subject                28428 non-null  object
 47  Purchase               28428 non-null  int64
 48  Purchase After Return  28428 non-null  int64
 49  sum_stocks             28428 non-null  int64
 50  sum_rev                28428 non-null  int64
 51  sum_sal                28428 non-null  int64
dtypes: float64(1), int64(31), object(20)
memory usage: 12.5+ MB

In [20]:
for i in list_cols:
    try:
        df[i] = df_load[i].apply(lambda x: int(x))
    except:
        pass
df_load.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28428 entries, 28 to 28455
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SKU                    28428 non-null  int64
 1   Name                   28428 non-null  object
 2   Category               28428 non-null  object
 3   Brand                  28280 non-null  object
 4   Seller                 28382 non-null  object
 5   Color                  27327 non-null  object
 6   Balance                28428 non-null  int64
 7   Balance FBS            28428 non-null  int64
 8   Comments               28428 non-null  int64
 9   Final price            28428 non-null  int64
 10  Max price              28428 non-null  int64
 11  Min price              28428 non-null  int64
 12  Average price          28428 non-null  object
 13  Median price           28428 non-null  float64
 14  Sales                  28428 non-null  int64
 15  Revenue                28428 non-null  int64
 16  Revenue potential      28428 non-null  object
 17  Revenue average        28428 non-null  object
 18  Lost profit            28428 non-null  object
 19  Lost profit percent    28428 non-null  object
 20  URL                    28428 non-null  object
 21  Thumb                  28428 non-null  object
 22  Days in stock          28428 non-null  int64
 23  Days with sales        28428 non-null  int64
 24  Average if in stock    28428 non-null  object
 25  Rating                 28428 non-null  int64
 26  Basic Sale             28428 non-null  int64
 27  Basic Sale Price       28428 non-null  int64
 28  Promo Sale             28428 non-null  int64
 29  Base price             28428 non-null  int64
 30  SPP                    28428 non-null  int64
 31  SPP Price              28428 non-null  int64
 32  FBS                    28428 non-null  int64
 33  Subject ID             28428 non-null  int64
 34  Category Position      28428 non-null  int64
 35  Categories Last Count  28428 non-null  int64
 36  Sales Per Day Average  28428 non-null  object
 37  Country                23611 non-null  object
 38  Gender                 27359 non-null  object
 39  First Date             28428 non-null  object
 40  First Comment Date     28428 non-null  object
 41  Pics Count             28428 non-null  int64
 42  Has 3D                 28428 non-null  int64
 43  Hax Video              28428 non-null  int64
 44  Comments Valuation     28428 non-null  object
 45  Card Rating            28428 non-null  int64
 46  Subject                28428 non-null  object
 47  Purchase               28428 non-null  int64
 48  Purchase After Return  28428 non-null  int64
 49  sum_stocks             28428 non-null  int64
 50  sum_rev                28428 non-null  int64
 51  sum_sal                28428 non-null  int64
dtypes: float64(1), int64(31), object(20)
memory usage: 12.5+ MB

In [21]:
df_load['Revenue potential'].value_counts()

0         2346
14400       24
8400        21
4800        20
3600        20
          ...
8904         1
35574        1
526365       1
66746        1
480510       1
Name: Revenue potential, Length: 21348, dtype: int64

In [22]:
df_load.to_csv(path_or_buf='C://Users/Uldum/Downloads/out.csv')